<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Canvas_DB" connectionString="Data Source=DESKTOP-BUV55UA; Initial Catalog=Canvas_DB; Integrated Security=true;" providerName="System.Data.SqlClient"/>
    <add name="Web" connectionString="Data Source=62.219.78.230; Initial Catalog=antont_co_il_canvas; uid=antont_co_il_user; password=31A5959nt;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>